.banner-image {
  width: 128px;
  height: 128px;
  border-radius: 128px;
  border: solid white 3px;
}

.banner {
  display: flex;
  justify-content: center;
}

body {
  padding: 40px 0px 0px 40px;
  background-color: #fffffe;
}

.social-icons {
  display: flex;
  justify-content: space-around
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}

.link img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.link a {
  color: #fffffe;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}
.link {
  background-color: #3da9fc;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.name {
  color: #094067;
  font-family:sans-serif;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center
}
